/* FONTS: 
font-family: 'Anton', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-navy: #17252a;
    --dark-sea: #2b7278;
    --sea: #3aafa9;
    --light-sea: #def2f1;
    --white: #feffff;
}

body {
    width: 100%;
    background-color: var(--sea);
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--dark-navy);
    background: linear-gradient(125deg, rgba(43, 122, 120, 1) calc(100vw - 30%), rgba(58, 175, 169, 1) calc(100vw - 27%));
    background-repeat: no-repeat;
    font-family: 'Anton', sans-serif;
}


.container {
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
}

.wrapper-column {
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    color: #feffff
}

h1 {
    font-size: 45px;
}

h2 {
    padding: 40px 0 0px 10%;
    font-size: 35px;
    align-self: flex-start;
}

h3 {
    font-size: 25px;
    margin: 25px 0;
}

h4 {
    align-self: flex-start;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--dark-navy);
    letter-spacing: 1px;
}

p {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
}

a {
    color: var(--dark-navy);
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.technologies-svg-icons {
    width: 30px;
}

.js-icon {
    width: 35px;
}

.landing-page {
    height: 100vh;
}

.landing-page-intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.landing-page-intro-text-wrapper {
    flex-direction: column;
    justify-content: space-evenly;
}

.landing-page-intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    flex-basis: 30%;
}

.landing-page-intro-image {
    flex-basis: 70%;
    position: relative;
    background-image: url(assets/images/mateusz_rajek-profile-photo-960.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

.landing-page-intro-image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid rgba(23, 37, 42, .1);
    width: calc(100vw - 100%);
}


.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -1px;
    padding: 0 15px;
    /* min-height: 100vh; */
}



.about-paragraph {
    font-size: 22px;
    text-align: left;
}

.fa-arrow-circle-down {
    font-size: 35px;
    color: var(--light-sea);
    transition-duration: 2s;
}

.icons-wrapper {
    align-items: center;
    align-self: center;
    margin-bottom: 15px;
}

.fab,
.fas {
    margin-left: 10px;
    font-size: 28px;
    color: var(--dark-navy)
}

.slider-image {
    width: 100%;
}

.glide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glide__slides {
    align-items: center;
}

.glide__arrow {
    color: var(--sea);
    border-color: var(--sea);
}

.frontend-portfolio,
.wordpress-portfolio {
    padding: 0 20px;
    margin: 40px 0;
}

.live-preview-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.live-preview-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-opportunity-paragraph {
    margin: 15px auto;
    color: var(--light-sea);
    font-size: 28px;
    font-weight: 200;
}

.contact {
    padding: 0 20px;
}

.contact .about-paragraph {
    margin-top: 15px;
}

.contact-details-wrapper {
    flex-direction: column;
    margin-top: 40px;
}

.contact-details+p {
    display: flex;
    align-items: center;
}

.contact-details+p a {
    margin-left: 10px;
    font-weight: 200;
}

.contact-details~p {
    font-size: 20px;
}

.contact-details~p a,
.contact-details~p a i {
    color: var(--light-sea);
}

.contact-details~p a {
    text-transform: lowercase;
    letter-spacing: 1px;
}


@media (orientation: landscape) {
    .landing-page-intro {
        flex-direction: row;
    }

    .landing-page-intro-text {
        flex-basis: 50%;
    }

    .landing-page-intro-image {
        flex-basis: 50%;
    }
}

@media (min-width: 768px) {
    .landing-page-intro {
        flex-direction: row;
    }

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 45px;
    }

    p {
        font-size: 24px;
    }

    .slider-image {
        width: 100%;
    }

}

@media (min-width: 1024px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 50px;
    }

    p {
        font-size: 26px
    }
}



@media (orientation: portrait) {
    body {
        background: linear-gradient(125deg, rgba(43, 122, 120, 1) calc(100vw - 4%), rgba(58, 175, 169, 1) calc(100vw - 1%));
    }

    .landing-page-intro-image::after {
        width: calc(100vw - 20%);
    }

    .slider-image {
        width: 100%;
    }
}